.main-container{
  margin: 0 auto;
  margin-top: -40px;
}
.tour-preview {
  height: 389px;
  width: 320px;
  background-image: url('../../img/background-sedona.jpg');
  background-position: 50% -40px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  @media(min-width: $tablet-width){
    background-position: 50% 10px;
  }
}


@media (min-width: $tablet-width) {
  .tour-preview{
    height: 518px;
    width: 768px;

  }
  .tour-preview__image{
    width: 461px;
    height: 350px;
  }
}
@media (min-width: $desktop-width) {
  .tour-preview{
    height: 518px;
    width: 1200px;

  }
}
.reasons__text-wrapper {
  padding: 39px 20px 33px;
  @media (min-width: $tablet-width){
    padding: 48px 124px 55px;
    max-width: 520px;
  }
  @media (min-width: $desktop-width){
    padding: 60px 358px 44px;
    max-width: 484px;
  }
}


.reasons__intro {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
}

.reasons__description {
  color: #333333;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}
.reasons__wrapper{
  @media (min-width: $tablet-width){
    display: flex;
  }
}
.reasons__item {
  box-sizing: border-box;
  background-color: $primary-color;
  color: #ffffff;
  text-align: center;
  padding: 54px 18px 40px;
  @media (min-width: $tablet-width){
    padding: 52px 33px 31px;
    max-width: 256px;
  }
  @media (min-width: $desktop-width){
    padding: 52px 50px 51px;
    max-width: 400px;
  }
}


.infrastructure__list {
  margin: 0;
  padding: 23px 18px 46px;

  list-style-type: none;
  @media (min-width: $tablet-width){
    display: flex;
    padding: 0;
    min-height: 331px;
  }
}

.infrastructure__item{
  box-sizing: border-box;
  @media (min-width: $tablet-width){

    padding: 60px 33px;

  }
  @media (min-width: $desktop-width){
    padding: 69px 50px;
    width: 400px;
  }
}
.infrastructure__item:not(:last-child){
  margin-bottom: 25px;
  @media (min-width: $tablet-width){
    margin-bottom: 0;
  }
  @media (min-width: $desktop-width){
    margin-bottom: 0;
  }
}
.infrastructure__content-wrapper{
  display: grid;
  grid-template-columns: 40px auto;
  gap: 7px;
  align-items: center;
    @media (min-width: $tablet-width){
      display: flex;
      flex-direction: column;
      width: 190px;
      justify-content: center;
      align-items: center;
    }
    @media (min-width: $desktop-width){
      display: flex;
      flex-direction: column;
      width: 300px;
      justify-content: center;
      align-items: center;
    }
}
.infrastructure__image{
  display: block;
  margin: 0 auto;
  grid-column: 1/2;

}
@media (min-width: $tablet-width){
  .infrastructure__image--house{
    width: 77px;
    height: 72px;
  }
  .infrastructure__image--burger{
    width: 80px;
    height: 68px;
  }
  .infrastructure__image--gift{
    width: 66px;
    height: 75px;
  }
}

.infrastructure__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  grid-column: 2/3;
  @media (min-width: $tablet-width){
    text-align: center;
  }

}

.infrastructure__description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: #333333;
  grid-column: 2/3;
  margin: 0;
  @media (min-width: $tablet-width){
    text-align: center;
  }

}
.reasons__item-title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 11px;
}

.reasons__item-number {
  margin: 0;
  margin-bottom: 17px;
}

.reasons__item-description {
  margin: 0;
  text-transform: uppercase;
}
.reasons__item-image{
  display: block;
  @media (min-width: $tablet-width){
    width: 512px;
  }
  @media (min-width: $desktop-width){
    width: 800px;
  }
}
.reasons__item--text-second{
  order: 2;
}
.reasons__wrapper_secondary{
  display: block;
  @media (min-width: $tablet-width){
    display: flex;
  }
}


.reasons__item--secondary {
  background-color: #eeeeee;
  color: #333333;
}

.reasons__item-title--secondary {
  color: #000000;
}

/**Блок с предложениями**/
.offer {
  padding: 38px 18px 49px;
  @media (min-width: $tablet-width){
    padding: 60px 155px 58px;
  }
  @media (min-width: $desktop-width){
    padding: 60px 371px 66px;
  }
}


.offer__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 11px;
  @media (min-width: $tablet-width){
    max-width: 435px;
  }
}

.offer__description {
  text-transform: uppercase;
  text-align: center;
  color: #333333;
  margin: 0;
  margin-bottom: 32px;
  @media (min-width: $tablet-width){
    max-width: 435px;
  }
}

.button-primary {
  display: block;
  background-color: $primary-color;
  color: #ffffff;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding: 16px 0;
  @media (min-width: $tablet-width){
    max-width: 458px;
  }
}
.map__image-map{
  border: none;
  display: block;
  @media (min-width: $tablet-width){
    width: 768px;
    height: 350px;
  }
  @media (min-width: $desktop-width){
    width: 1200px;
  }
}
