.page {
  height: 100%;
  font-family: 'PT Sans';
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;

}

.page__body {
  width: 320px;
  margin: 0 auto;
  @media (min-width: $tablet-width){
    width: $tablet-width;
  }
  @media (min-width: $desktop-width){
    width: $desktop-width;
  }
}
.main-header{
  position: relative;
  @media (min-width: $tablet-width){
    display: flex;
    justify-items: center;
  }
}
.main-header__logo{
  display: block;
  @media (min-width: $tablet-width){
    order: 2;
    width: 153px;
  }
  @media (min-width: $tablet-width){
    order: 2;
    width: 240px;
  }
}
.logo{
  display: block;
  margin: 0 auto;
  @media (min-width: $tablet-width) and (max-width: $desktop-width){
    margin-left: -16px;
  }

}
.main-nav__wrapper{
  display: none;

}
.main-nav__wrapper--right{
  order:3;
}
.main-nav__wrapper--active{
  position: absolute;
  top:0;
  right: 0;
  display: flex;
  flex-direction: column;
  order:2;
  flex-grow: 1;
  width: 100%;
  @media (min-width: $tablet-width){
    display: block;
  }
}



.main-nav__link {
  padding: 12px 10px 17px;
  box-sizing: border-box;
  font-size: 18px;
  text-align: center;
  background-color: $primary-color;
  @media (min-width: $tablet-width){
    display: inline-block;
    width: 153px;
  }
  @media (min-width: $desktop-width){
    display: inline-block;
    width: 240px;
  }
}

.main-nav__link-text {
  font-family: 'PT Sans',;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
}
.main-nav__toggle{
  position: absolute;
  top:0;
  right: 0;
  padding: 17px 21px;
  border: none;
  background-color: transparent;

}
.toggle__icon{
  fill: #81B3D2;
}
@media (min-width: $tablet-width) {
  .main-nav__toggle{
    display: none;
  }
  .main-nav__wrapper{
    display: flex;
  }
  .main-nav__link{
    background-color: transparent;
  }
  .main-nav__link-text{
    color: #000;
  }
}



