
.main-footer{
    padding: 29px 0 23px;

  }
  .main-footer__hashtag{
    display: block;
    margin: 0;
    margin-bottom: 38px;
    color: #000000;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }
  .main-footer__social{
    display: flex;
    justify-content: center;
    gap: 6px;
  }
  .social{
    margin-bottom: 40px;
  }
  .social__link{
    display: block;
    width: 48px;
    height: 48px;
    background-color: #81b3d2;
  }
  .social__link--vkontakte{
    background-image: url("../../img/icons/vk-icon.svg");
    background-position: center center;
    background-repeat: no-repeat;
  }
  .copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }
  .copyright__text{
    text-transform: uppercase;
    margin: 0;
  }
