.offer {
  padding: 38px 18px 49px;
  @media (min-width: $tablet-width){
    padding: 60px 155px 58px;
  }
  @media (min-width: $desktop-width){
    padding: 60px 371px 66px;
  }
}


.offer__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 11px;
  max-width: 262px;
  @media (min-width: $tablet-width){
    max-width: 435px;
  }
}

.offer__description {
  text-transform: uppercase;
  text-align: center;
  color: #333333;
  margin: 0 auto;
  margin-bottom: 32px;
  max-width: 262px;
  @media (min-width: $tablet-width){
    max-width: 435px;
  }
}
