.reasons__text-wrapper {
  padding: 39px 20px 33px;
  @media (min-width: $tablet-width){
    padding: 48px 124px 55px;
    max-width: 520px;
  }
  @media (min-width: $desktop-width){
    padding: 60px 358px 44px;
    max-width: 484px;
  }
}


.reasons__intro {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  align-items: center;
  margin: 0;
  margin-bottom: 35px;
  @media(min-width: $tablet-width){
    font-size: 21px;
  }
}
.reasons__description {
  color: #333333;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}
.reasons__wrapper{
  @media (min-width: $tablet-width){
    display: flex;
  }
}
.reasons__item {
  box-sizing: border-box;
  background-color: $primary-color;
  color: #ffffff;
  text-align: center;
  padding: 37px 18px;
  @media (min-width: $tablet-width){
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 52px 33px 31px;
    max-width: 256px;
  }
  @media (min-width: $desktop-width){
    padding: 52px 50px 51px;
    max-width: 400px;
  }
}
@media (max-width: $tablet-width){
  .infrastructure{
    padding: 54px 18px 40px;
  }
}

.infrastructure__list {
  margin: 0;
  padding: 23px 18px 46px;

  list-style-type: none;
  @media (min-width: $tablet-width){
    display: flex;
    padding: 0;
    min-height: 331px;
  }
}

.infrastructure__item{
  box-sizing: border-box;
  @media (min-width: $tablet-width){

    padding: 60px 33px;

  }
  @media (min-width: $desktop-width){
    padding: 69px 50px;
    width: 400px;
  }
}
.infrastructure__item:not(:last-child){
  margin-bottom: 25px;
  @media (min-width: $tablet-width){
    margin-bottom: 0;
  }
  @media (min-width: $desktop-width){
    margin-bottom: 0;
  }
}
.infrastructure__content-wrapper{
  display: grid;
  grid-template-columns: 42px auto;
  column-gap: 7px;
  row-gap: 8px;
  align-items: center;
    @media (min-width: $tablet-width){
      display: flex;
      flex-direction: column;
      width: 190px;
      justify-content: center;
      align-items: center;
    }
    @media (min-width: $desktop-width){
      display: flex;
      flex-direction: column;
      width: 300px;
      justify-content: center;
      align-items: center;
    }
}
.infrastructure__image{
  display: block;
  margin: 0 auto;
  grid-column: 1/2;

}
@media (min-width: $tablet-width){
  .infrastructure__image--house{
    width: 77px;
    height: 72px;
  }
  .infrastructure__image--burger{
    width: 80px;
    height: 68px;
  }
  .infrastructure__image--gift{
    width: 66px;
    height: 75px;
  }
}

.infrastructure__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  grid-column: 2/3;
  @media (min-width: $tablet-width){
    text-align: center;
    font-size: 21px;
    margin-bottom: 14px;
  }

}

.infrastructure__description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: #333333;
  grid-column: 2/3;
  margin: 0;
  @media (min-width: $tablet-width){
    text-align: center;

  }

}
.reasons__item-title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 11px;
  @media(min-width: $tablet-width){
    font-size: 21px;
  }
}

.reasons__item-number {
  margin: 0;
  margin-bottom: 17px;
}

.reasons__item-description {
  margin: 0;
  text-transform: uppercase;
}
.reasons__item-image{
  display: block;
  @media (min-width: $tablet-width){
    width: 512px;
  }
  @media (min-width: $desktop-width){
    width: 800px;
  }
}
.reasons__item--text-second{
  order: 2;
}
.reasons__wrapper_secondary{
  display: block;
  @media (min-width: $tablet-width){
    display: flex;
  }
}

.reasons__item--secondary {
  background-color: #eeeeee;
  color: #333333;
  padding: 24px 26px;
  @media(min-width: $tablet-width){
    min-height: 256px;
    padding: 20px 33px;

  }
}
.reasons__item--secondary:last-child{
  padding-bottom: 28px;
}
.reasons__item-title--secondary {
  color: #000000;
}
