.page {
  height: 100%;
  font-family: 'PT Sans';
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.page__body {
  width: 320px;
  margin: 0 auto;
  @media (min-width: $tablet-width){
    width: $tablet-width;
  }
  @media (min-width: $desktop-width){
    width: $desktop-width;
  }
}
.main-header{
  position: relative;
  min-height: 56px;
}
.main-header__logo{
  display: block;
  @media (min-width: $tablet-width){
    order: 2;
    width: 153px;
  }
  @media (min-width: $tablet-width){
    order: 2;
    width: 240px;
  }
}
.logo{
  display: block;
  margin: 0 auto;
  @media (min-width: $tablet-width){
    position: absolute;
    top:0;
    right: 50%;
    transform: translateX(50%);
  }

}

.main-nav__wrapper--close .main-nav__wrapper{
  display: none;
  @media (min-width: $tablet-width){
    display: flex;
  }
}
.main-nav__wrapper--open{
  position: absolute;
  top:0;
  right: 0;
  display: flex;
  flex-direction: column;
  order:2;
  flex-grow: 1;
  width: 100%;
  @media (min-width: $tablet-width){
    display: block;
  }
}
.main-nav__wrapper{
  display: flex;
  flex-direction: column;
  @media (min-width: $tablet-width){
    flex-direction: row;
  }
}
.main-nav__wrapper--right{
  order:3;
}

.main-nav__link {
  padding: 18px 10px 17px;
  box-sizing: border-box;
  font-size: 18px;
  text-align: center;
  background-color: $primary-color;
  height: 56px;
  @media (min-width: $tablet-width){
    display: block;
    width: 153px;
  }
  @media (min-width: $desktop-width){
    display: block;
    width: 240px;
  }
}

.main-nav__link-text {
  font-family: 'PT Sans',;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
}
.main-nav__toggle{
  position: absolute;
  top:0;
  right: 0;
  padding: 17px 21px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 62px;
  height: 56px;
  z-index: 2;
}
.main-nav__wrapper--close .main-nav__toggle::before{
  content: "";
  position: absolute;
  top: 17px;
  left: 20px;
  width: 22px;
  height: 4px;
  background-color: #81b3d2;
  box-shadow: 0 9px 0 0 #81b3d2, 0 18px 0 0 #81b3d2;
}

  .main-nav__wrapper--open .main-nav__toggle {
    top: 0;
    right: 0;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 25px;
      left: 20px;
      width: 22px;
      height: 4px;
      background-color: #ffffff;
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
    }

    &:active::before,
    &:active::after {
      background-color: fade(#ffffff, 30%);
    }
  }

@media (min-width: $tablet-width) {
  .main-nav__toggle{
    display: none;
  }
  .main-nav__wrapper-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .main-nav__link{
    background-color: transparent;
  }
  .main-nav__link-text{
    color: #000;
    font-size: 14px;
    line-height: 21px;
  }
}
